migration/WF_Social_Media_Analyst (2).json
{
  "name": "WF_Social_Media_Analyst",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "medsos-analysis-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1408,
        1568
      ],
      "id": "7f7a0e59-4a99-4989-be40-18f2e9e0b22b",
      "name": "Webhook Input (from Next.js)",
      "webhookId": "5b19ccb2-a8c6-4b40-95b2-b5e669739fae"
    },
    {
      "parameters": {
        "jsCode": "// Parse webhook dari Next.js checkout\nconst body = $json.body || $json;\nreturn [{\n  json: {\n    request_id: body.request_id,\n    user_id: body.user_id,\n    entitlement_id: body.entitlement_id,\n    platform: body.platform,\n    profile_url: body.profile_url,\n    callback_token: body.callback_token,\n    progress_url: body.progress_url,\n    result_url: body.result_url,\n    error_url: body.error_url,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        1568
      ],
      "id": "244a84d6-35f3-4f5e-816a-84220961630d",
      "name": "Parse Webhook Data"
    },
    {
      "parameters": {
        "url": "=https://n8n-automations-liard.vercel.app//api/medsos/entitlement/{{ $json.entitlement_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -944,
        1392
      ],
      "id": "7b17dbff-9a4f-4cf9-af10-eb6e6264c397",
      "name": "Check Entitlement Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -736,
        1392
      ],
      "id": "1374b4e9-847e-465d-8560-897159dec21b",
      "name": "Is Entitlement Active?"
    },
    {
      "parameters": {
        "jsCode": "// Check quota available\nconst quota_used = $json.quota_used || 0;\nconst quota_total = $json.quota_total || 0;\nconst quota_available = quota_used < quota_total;\n\nreturn [{\n  json: {\n    ...JSON.parse($('Parse Webhook Data').first().json.json),\n    entitlement: $json,\n    quota_available: quota_available,\n    quota_remaining: quota_total - quota_used\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        1392
      ],
      "id": "482b5ecf-2fc8-49b8-bbc9-9ea7f4d1f9d1",
      "name": "Check Quota Available"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "quota-check",
              "leftValue": "={{ $json.quota_available }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -336,
        1392
      ],
      "id": "c349ba47-2eda-4891-8a7f-738845a033e4",
      "name": "Has Quota?"
    },
    {
      "parameters": {
        "jsCode": "// Validate Instagram URL format\nconst profile_url = $json.profile_url || \"\";\nconst ig_regex = /https:\\/\\/(www\\.)?instagram\\.com\\/([a-zA-Z0-9_\\.]+)\\/?/;\nconst match = profile_url.match(ig_regex);\n\nif (!match || !match[2]) {\n  return [{\n    json: { \n      valid: false, \n      error: \"Format Instagram URL tidak valid. Gunakan: https://instagram.com/username\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...JSON.parse($('Check Quota Available').first().json.json),\n    valid: true,\n    ig_username: match[2],\n    ig_profile_url: `https://instagram.com/${match[2]}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        1392
      ],
      "id": "aa47a667-225a-400a-bea3-503f76b73849",
      "name": "Validate IG URL"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "url-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        48,
        1392
      ],
      "id": "639e3b94-d680-4c3b-80bf-6916503fa45e",
      "name": "URL Valid?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.progress_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        1392
      ],
      "id": "8e451ffb-b497-4f6a-be81-e13e6264137f",
      "name": "Send Progress: Scraping IG"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.instagram.com/{{ $json.ig_username }}/?__a=1",
        "options": {
          "headers": {
            "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        432,
        1392
      ],
      "id": "d0b2f79f-1d05-49f1-975c-d98d4722aa0a",
      "name": "Scrape Instagram Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.progress_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        624,
        1392
      ],
      "id": "70d39e49-c4f0-42f1-8e83-95fc18855625",
      "name": "Send Progress: AI Analysis"
    },
    {
      "parameters": {
        "jsCode": "// Extract IG data and prepare for AI analysis\nconst prev_data = $json;\nconst ig_data = prev_data.raw_ig_data || prev_data;\nconst user = ig_data.user || {};\nconst posts = ig_data.edge_owner_to_timeline_media?.edges || [];\n\nconst captions = posts\n  .slice(0, 10)\n  .map(p => p.node?.edge_media_to_caption?.edges?.[0]?.node?.text || \"\")\n  .filter(c => c.length > 0);\n\nconst ig_username = prev_data.ig_username || \"unknown\";\n\nconst prompt = `\nAnalyze Instagram account data and provide:\n1. Sentiment Analysis: Positive/Neutral/Negative breakdown (%) from captions\n2. Engagement Analysis: Average likes, comments, shares per post\n3. Top Topics: Main themes in captions\n4. Audience Insights: Follower demographics if available\n5. Recommendations: 3-5 actionable tips to improve engagement\n\nAccount: @${ig_username}\nFollowers: ${user.edge_followed_by?.count || 0}\nFollowing: ${user.edge_follow?.count || 0}\nBio: ${user.biography || \"\"}\n\nRecent captions:\n${captions.join('\\\\n\\\\n')}\n\nProvide JSON response:\n{\n  \"sentiment_label\": \"positive|neutral|negative\",\n  \"sentiment_score\": 0-1,\n  \"engagement_score\": 0-100,\n  \"top_topics\": [\"topic1\", \"topic2\"],\n  \"audience_insight\": {\"demographics\": \"...\"},\n  \"recommendations\": [\"rec1\", \"rec2\", \"rec3\"]\n}`;\n\nreturn [{\n  json: {\n    ...prev_data,\n    ai_prompt: prompt,\n    raw_ig_data: ig_data\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        1392
      ],
      "id": "fe54281c-2c84-4f47-ac11-5b3e6a0fee66",
      "name": "Prepare AI Analysis Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.progress_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1200,
        1392
      ],
      "id": "b7bb7419-1d4c-4f69-9073-aa9e039034bc",
      "name": "Send Progress: Report Ready"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.result_url }}",
        "sendBody": true,
        "contentType": "application/json",
        "body": "{\n  \"request_id\": \"{{ $json.request_id }}\",\n  \"status\": \"completed\",\n  \"analysis\": {{ $json.text || \"{}\" }},\n  \"sentiment_label\": \"positive\",\n  \"sentiment_score\": 0.75,\n  \"engagement_score\": 85,\n  \"completed_at\": \"{{ $json.timestamp }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1392,
        1392
      ],
      "id": "47e14db4-07c5-487e-981c-27c74ad6d4d0",
      "name": "Send Result to Next.js"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Webhook Data').first().json.error_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -736,
        1632
      ],
      "id": "6ab5df23-f989-48ef-8490-b8471ca9966e",
      "name": "Error: Entitlement Inactive"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Webhook Data').first().json.error_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -336,
        1632
      ],
      "id": "5c2dc9bb-99a2-4d4b-bdc5-fd289f203eb4",
      "name": "Error: Quota Exceeded"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Webhook Data').first().json.error_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        1632
      ],
      "id": "67b9d835-8df8-46e0-bdf7-e35e073f7940",
      "name": "Error: Invalid URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Webhook Data').first().json.error_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        432,
        1632
      ],
      "id": "e3144688-439b-40d8-a620-04420f52e0a3",
      "name": "Error: Scraping Failed"
    },
    {
      "parameters": {
        "model": "gemini-1.5-pro",
        "options": {
          "temperature": 0.7
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.ai_prompt }}",
              "role": "user"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        816,
        1392
      ],
      "id": "52db63fb-6c79-40ec-9880-f23fe20f97d7",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "VR8OntYtmRO1TcRI",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Input (from Next.js)": {
      "main": [
        [
          {
            "node": "Parse Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Webhook Data": {
      "main": [
        [
          {
            "node": "Check Entitlement Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Entitlement Status": {
      "main": [
        [
          {
            "node": "Is Entitlement Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Entitlement Active?": {
      "main": [
        [
          {
            "node": "Check Quota Available",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Entitlement Inactive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Quota Available": {
      "main": [
        [
          {
            "node": "Has Quota?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Quota?": {
      "main": [
        [
          {
            "node": "Validate IG URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Quota Exceeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate IG URL": {
      "main": [
        [
          {
            "node": "URL Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL Valid?": {
      "main": [
        [
          {
            "node": "Send Progress: Scraping IG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Invalid URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Progress: Scraping IG": {
      "main": [
        [
          {
            "node": "Scrape Instagram Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Instagram Data": {
      "main": [
        [
          {
            "node": "Send Progress: AI Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Scraping Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Progress: AI Analysis": {
      "main": [
        [
          {
            "node": "Prepare AI Analysis Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Analysis Prompt": {
      "main": [
        [
          {
            "node": "Google Gemini Chat Model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "main": [
        [
          {
            "node": "Send Progress: Report Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Progress: Report Ready": {
      "main": [
        [
          {
            "node": "Send Result to Next.js",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1dacb0bd-bf9e-4b60-8af3-7ad72f42bba2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55610ab40ec438f7d6aa8007bfeae732bdf2a7ca0d8e42d7155a97bc98c9b2e4"
  },
  "id": "F7Bdfk5DigrNsope",
  "tags": []
}