migration/WF_Social_Media_Analyst.json
{
  "name": "WF_Social_Media_Analyst",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "medsos-analysis-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        11680,
        4480
      ],
      "id": "239a6084-3b46-426e-b999-9d6b869d938d",
      "name": "Webhook Input (from Next.js)",
      "webhookId": "5b19ccb2-a8c6-4b40-95b2-b5e669739fae"
    },
    {
      "parameters": {
        "jsCode": "// Parse webhook dari Next.js\nconst body = $json.body || $json;\nreturn [{\n  json: {\n    request_id: body.request_id,\n    callback_token: body.callback_token,\n    platform: body.platform,\n    profile_url: body.profile_url,\n    notes: body.notes,\n    progress_callback_url: body.progress_callback_url,\n    result_callback_url: body.result_callback_url,\n    error_callback_url: body.error_callback_url,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11888,
        4480
      ],
      "id": "a944372d-53f2-4845-bdb3-5e44f6fe89cb",
      "name": "Parse Webhook Data"
    },
    {
      "parameters": {
        "url": "=https://n8n-automations-liard.vercel.app/api/n8n/medsos/entitlement-check?request_id={{ $json.request_id }}&token=jllIcqyZiL0Od9g5b7Qq7fUtDc4JLdMR",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        12144,
        4304
      ],
      "id": "6ec9977a-2f8b-409d-8943-26b4dce67da1",
      "name": "Check Entitlement Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        12352,
        4304
      ],
      "id": "4cd43b3e-0bae-40b8-833f-03f22c90fbfe",
      "name": "Is Entitlement Active?"
    },
    {
      "parameters": {
        "jsCode": "// Check quota available - one-time purchase model\n\nconst entitlement = $json || {};\n\nconst quota_used = Number(entitlement.quota_used || 0);\nconst quota_total = Number(entitlement.quota_total || 0);\n\nconst quota_available =\n  entitlement.status === 'active' &&\n  quota_used < quota_total;\n\n// Parse Webhook Data sudah object\nconst webhookData =\n  $('Parse Webhook Data').first()?.json || {};\n\nreturn [\n  {\n    json: {\n      ...webhookData,\n\n      entitlement,\n\n      quota_available,\n\n      quota_remaining: Math.max(\n        0,\n        quota_total - quota_used\n      )\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12544,
        4304
      ],
      "id": "1f72f369-58d7-420e-99c8-b62d2a30dd03",
      "name": "Check Quota Available"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "quota-check",
              "leftValue": "={{ $json.quota_available }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        12752,
        4304
      ],
      "id": "d9996851-94f8-46dc-a4a3-679b33a8e07a",
      "name": "Has Quota?"
    },
    {
      "parameters": {
        "jsCode": "// Validate Instagram URL format\nconst profile_url = $json.profile_url || \"\";\nconst ig_regex = /https:\\/\\/(www\\.)?instagram\\.com\\/([a-zA-Z0-9_\\.]+)\\/?/;\nconst match = profile_url.match(ig_regex);\n\nif (!match || !match[2]) {\n  return [{\n    json: { \n      valid: false, \n      error: \"Format Instagram URL tidak valid. Gunakan: https://instagram.com/username\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...Object.assign({}, $json),\n    valid: true,\n    ig_username: match[2],\n    ig_profile_url: `https://instagram.com/${match[2]}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12944,
        4304
      ],
      "id": "a9af386e-c3ed-401b-b077-fd61811dbdfb",
      "name": "Validate IG URL"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "url-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        13136,
        4304
      ],
      "id": "b17590c5-f242-43ba-bfe7-384c7477a566",
      "name": "URL Valid?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.progress_callback_url }}",
        "sendBody": true,
        "contentType": "application/json",
        "body": "={{ JSON.stringify({ request_id: $json.request_id, callback_token: $json.callback_token, status: 'scraping', progress_percent: 20, current_step: 'Scraping Instagram profile', n8n_secret: $env.N8N_SHARED_SECRET }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        13328,
        4304
      ],
      "id": "f83cbe6b-3ec0-4079-82c1-67dcc81baf76",
      "name": "Send Progress: Scraping IG"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.instagram.com/{{ $json.ig_username }}/?__a=1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        13520,
        4304
      ],
      "id": "dcbff267-e0ff-436a-a525-8e67d2a5e4d9",
      "name": "Scrape Instagram Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.progress_callback_url }}",
        "sendBody": true,
        "contentType": "application/json",
        "body": "={{ JSON.stringify({ request_id: $json.request_id, callback_token: $json.callback_token, status: 'ai_processing', progress_percent: 50, current_step: 'Processing with AI analysis', n8n_secret: $env.N8N_SHARED_SECRET }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        13712,
        4304
      ],
      "id": "3695f05f-9f92-44af-a5ac-8fe795dac0a6",
      "name": "Send Progress: AI Analysis"
    },
    {
      "parameters": {
        "jsCode": "// Extract IG data and prepare for AI analysis\nconst ig_data = $json.raw_ig_data || $json;\nconst user = ig_data.user || {};\nconst posts = ig_data.edge_owner_to_timeline_media?.edges || [];\nconst ig_username = $json.ig_username || \"unknown\";\n\nconst captions = posts\n  .slice(0, 10)\n  .map(p => p.node?.edge_media_to_caption?.edges?.[0]?.node?.text || \"\")\n  .filter(c => c.length > 0);\n\nconst prompt = `\nAnalyze Instagram account data and provide:\n1. Sentiment Analysis: Positive/Neutral/Negative breakdown (%) from captions\n2. Engagement Analysis: Average likes, comments, shares per post\n3. Top Topics: Main themes in captions\n4. Audience Insights: Follower demographics if available\n5. Recommendations: 3-5 actionable tips to improve engagement\n\nAccount: @${ig_username}\nFollowers: ${user.edge_followed_by?.count || 0}\nFollowing: ${user.edge_follow?.count || 0}\nBio: ${user.biography || \"\"}\n\nRecent captions:\n${captions.join('\\n\\n')}\n\nProvide JSON response:\n{\n  \"sentiment_label\": \"positive|neutral|negative\",\n  \"sentiment_score\": 0-1,\n  \"engagement_score\": 0-100,\n  \"top_topics\": [\"topic1\", \"topic2\"],\n  \"audience_insight\": {\"demographics\": \"...\"},\n  \"recommendations\": [\"rec1\", \"rec2\", \"rec3\"]\n}`;\n\nreturn [{\n  json: {\n    ...Object.assign({}, $json),\n    ai_prompt: prompt,\n    raw_ig_data: ig_data\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14096,
        4304
      ],
      "id": "ca57412f-f459-4231-b5a7-abd57247800d",
      "name": "Prepare AI Analysis Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.progress_callback_url }}",
        "sendBody": true,
        "contentType": "application/json",
        "body": "={{ JSON.stringify({ request_id: $json.request_id, callback_token: $json.callback_token, status: 'generating_report', progress_percent: 80, current_step: 'Report generation complete', n8n_secret: $env.N8N_SHARED_SECRET }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        14288,
        4304
      ],
      "id": "0bbfb798-9576-481c-9fbc-898dd52819eb",
      "name": "Send Progress: Report Ready"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.result_callback_url }}",
        "sendBody": true,
        "contentType": "application/json",
        "body": "={{ JSON.stringify({ request_id: $json.request_id, callback_token: $json.callback_token, summary: $json.summary || '', sentiment_label: $json.sentiment_label || 'neutral', sentiment_score: $json.sentiment_score || 0, engagement_score: $json.engagement_score || 0, top_topics: $json.top_topics || [], audience_insight: $json.audience_insight || {}, recommendations: $json.recommendations || [], n8n_secret: $env.N8N_SHARED_SECRET }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        14480,
        4304
      ],
      "id": "a5a72b88-56a2-4aed-b3ad-b97e4618a8c5",
      "name": "Send Result to Next.js"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.error_callback_url }}",
        "sendBody": true,
        "contentType": "application/json",
        "body": "={{ JSON.stringify({ request_id: $json.request_id, callback_token: $json.callback_token, error_code: 'entitlement_inactive', error_message: 'User entitlement is not active', n8n_secret: $env.N8N_SHARED_SECRET }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        12352,
        4544
      ],
      "id": "ff649bdc-13eb-45f8-b652-66fd86fa84e0",
      "name": "Error: Entitlement Inactive"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.error_callback_url }}",
        "sendBody": true,
        "contentType": "application/json",
        "body": "={{ JSON.stringify({ request_id: $json.request_id, callback_token: $json.callback_token, error_code: 'quota_exceeded', error_message: 'User quota exceeded', n8n_secret: $env.N8N_SHARED_SECRET }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        12752,
        4544
      ],
      "id": "c4fb4d20-93ba-413c-8163-4fbbbe8b0208",
      "name": "Error: Quota Exceeded"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.error_callback_url }}",
        "sendBody": true,
        "contentType": "application/json",
        "body": "={{ JSON.stringify({ request_id: $json.request_id, callback_token: $json.callback_token, error_code: 'invalid_url', error_message: $json.error || 'Invalid URL', n8n_secret: $env.N8N_SHARED_SECRET }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        13136,
        4544
      ],
      "id": "2ff00e1a-2453-4bf3-988b-93fa7be05b6b",
      "name": "Error: Invalid URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.error_callback_url }}",
        "sendBody": true,
        "contentType": "application/json",
        "body": "={{ JSON.stringify({ request_id: $json.request_id, callback_token: $json.callback_token, error_code: 'scraping_failed', error_message: 'Failed to scrape Instagram data', n8n_secret: $env.N8N_SHARED_SECRET }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        13520,
        4544
      ],
      "id": "ef4f72bb-53cd-4039-893d-44def29370cb",
      "name": "Error: Scraping Failed"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        13904,
        4304
      ],
      "id": "a77e3715-d25a-44c4-afa7-2ab0ac2c7ec7",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "VR8OntYtmRO1TcRI",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Input (from Next.js)": {
      "main": [
        [
          {
            "node": "Parse Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Webhook Data": {
      "main": [
        [
          {
            "node": "Check Entitlement Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Entitlement Status": {
      "main": [
        [
          {
            "node": "Is Entitlement Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Entitlement Active?": {
      "main": [
        [
          {
            "node": "Check Quota Available",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Entitlement Inactive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Quota Available": {
      "main": [
        [
          {
            "node": "Has Quota?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Quota?": {
      "main": [
        [
          {
            "node": "Validate IG URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Quota Exceeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate IG URL": {
      "main": [
        [
          {
            "node": "URL Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL Valid?": {
      "main": [
        [
          {
            "node": "Send Progress: Scraping IG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Invalid URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Progress: Scraping IG": {
      "main": [
        [
          {
            "node": "Scrape Instagram Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Instagram Data": {
      "main": [
        [
          {
            "node": "Send Progress: AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Progress: AI Analysis": {
      "main": [
        [
          {
            "node": "Prepare AI Analysis Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Progress: Report Ready": {
      "main": [
        [
          {
            "node": "Send Result to Next.js",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "054e79aa-e81b-4c4f-97aa-0657c74e9922",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55610ab40ec438f7d6aa8007bfeae732bdf2a7ca0d8e42d7155a97bc98c9b2e4"
  },
  "id": "F7Bdfk5DigrNsope",
  "tags": []
}