migration/WF_Social_Media_Analyst_INTEGRATED.json
{
  "name": "WF_Social_Media_Analyst_Apify_Integrated",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "medsos-analysis-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        14528,
        5696
      ],
      "id": "fe1d9fff-bab4-4f98-a95d-e8d65596d867",
      "name": "Webhook Input (from Next.js)",
      "webhookId": "5b19ccb2-a8c6-4b40-95b2-b5e669739fae"
    },
    {
      "parameters": {
        "jsCode": "// Parse webhook dari Next.js\nconst body = $json.body || $json;\nreturn [{\n  json: {\n    request_id: body.request_id,\n    callback_token: body.callback_token,\n    platform: body.platform,\n    profile_url: body.profile_url,\n    notes: body.notes,\n    progress_callback_url: body.progress_callback_url,\n    result_callback_url: body.result_callback_url,\n    error_callback_url: body.error_callback_url,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14736,
        5696
      ],
      "id": "26148aae-502a-4ad7-b287-7ff977bb87e3",
      "name": "Parse Webhook Data"
    },
    {
      "parameters": {
        "url": "=https://n8n-automations-liard.vercel.app/api/n8n/medsos/entitlement-check?request_id={{ $json.request_id }}&token=jllIcqyZiL0Od9g5b7Qq7fUtDc4JLdMRz",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        14992,
        5520
      ],
      "id": "c95f3820-323e-4b8f-8f5a-4ce95ed466a6",
      "name": "Check Entitlement Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        15200,
        5520
      ],
      "id": "2866614a-853a-4a24-a085-c84ff2082ebe",
      "name": "Is Entitlement Active?"
    },
    {
      "parameters": {
        "jsCode": "// Check quota available - one-time purchase model\n\nconst entitlement = $json || {};\n\nconst quota_used = Number(entitlement.quota_used || 0);\nconst quota_total = Number(entitlement.quota_total || 0);\n\nconst quota_available =\n  entitlement.status === 'active' &&\n  quota_used < quota_total;\n\n// Parse Webhook Data sudah object\nconst webhookData =\n  $('Parse Webhook Data').first()?.json || {};\n\nreturn [\n  {\n    json: {\n      ...webhookData,\n\n      entitlement,\n\n      quota_available,\n\n      quota_remaining: Math.max(\n        0,\n        quota_total - quota_used\n      )\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15392,
        5520
      ],
      "id": "3f36f9cc-d662-424f-bcc3-80af33ae6bd3",
      "name": "Check Quota Available"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "quota-check",
              "leftValue": "={{ $json.quota_available }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        15600,
        5520
      ],
      "id": "f1fc1d56-6be2-48fe-9b5a-a4f2f09d1d82",
      "name": "Has Quota?"
    },
    {
      "parameters": {
        "jsCode": "// Validate Instagram URL format\nconst profile_url = $json.profile_url || \"\";\nconst ig_regex = /https:\\/\\/(www\\.)?instagram\\.com\\/([a-zA-Z0-9_\\.]+)\\/?/;\nconst match = profile_url.match(ig_regex);\n\nif (!match || !match[2]) {\n  return [{\n    json: { \n      valid: false, \n      error: \"Format Instagram URL tidak valid. Gunakan: https://instagram.com/username\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...Object.assign({}, $json),\n    valid: true,\n    ig_username: match[2],\n    ig_profile_url: `https://instagram.com/${match[2]}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15792,
        5520
      ],
      "id": "4d6f1c90-3d10-4732-958d-0855fd9a6b0d",
      "name": "Validate IG URL"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "url-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        15984,
        5520
      ],
      "id": "e6b18ca3-2630-4b9f-9639-8db943e25778",
      "name": "URL Valid?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.progress_callback_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"request_id\": {{$json.request_id}},\n  \"callback_token\": \"{{$json.callback_token}}\",\n  \"status\": \"scraping\",\n  \"progress_percent\": 20,\n  \"current_step\": \"Scraping Instagram profile\",\n  \"n8n_secret\": \"jllIcqyZiL0Od9g5b7Qq7fUtDc4JLdMRz\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16176,
        5520
      ],
      "id": "15305b3f-d3e8-4acb-95ae-74299b59fbda",
      "name": "Send Progress: Scraping IG",
      "credentials": {
        "httpBearerAuth": {
          "id": "bHctYKymEKv2SjN2",
          "name": "N8N_SHARED_SECRET"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR_VERCEL_DOMAIN.com/api/medsos/scrape-instagram",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"username\": \"{{ $json.ig_username }}\",\n  \"request_id\": \"{{ $json.request_id }}\",\n  \"n8n_secret\": \"jllIcqyZiL0Od9g5b7Qq7fUtDc4JLdMRz\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16368,
        5520
      ],
      "id": "c8c2ba7d-59e6-4644-9aae-8474c91c47a3",
      "name": "Scrape Instagram Data"
    },
    {
      "parameters": {
        "jsCode": "// Transform Apify response to Instagram native format for downstream compatibility\nconst response = $json || {};\n\n// Error handling\nif (!response.success || !response.data) {\n  return [{\n    json: {\n      error: response.error || 'Failed to scrape Instagram profile',\n      errorCode: response.errorCode || 'scraping_failed'\n    }\n  }];\n}\n\nconst profile = response.data;\n\n// Transform Apify format to Instagram native format\n// This ensures compatibility with downstream nodes expecting Instagram native structure\nconst transformedData = {\n  success: true,\n  data: {\n    user: {\n      username: profile.username || '',\n      full_name: profile.fullName || '',\n      biography: profile.biography || '',\n      edge_followed_by: {\n        count: profile.followerCount || 0\n      },\n      edge_follow: {\n        count: profile.followingCount || 0\n      },\n      profile_pic_url: profile.profilePicUrl || '',\n      is_verified: profile.isVerified || false,\n      is_business_account: profile.isBusinessAccount || false\n    },\n    edge_owner_to_timeline_media: {\n      edges: (profile.posts || []).map(post => ({\n        node: {\n          id: post.id || '',\n          caption: post.caption || '',\n          timestamp: post.timestamp || new Date().toISOString(),\n          edge_media_to_caption: {\n            edges: post.caption ? [\n              {\n                node: {\n                  text: post.caption\n                }\n              }\n            ] : []\n          },\n          edge_media_preview_like: {\n            count: post.likeCount || 0\n          },\n          edge_media_to_comment: {\n            count: post.commentCount || 0\n          },\n          is_carousel: post.isCarousel || false\n        }\n      }))\n    }\n  }\n};\n\nreturn [{ json: transformedData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16450,
        5520
      ],
      "id": "transform-instagram-response-001",
      "name": "Transform Instagram Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node[\"Parse Webhook Data\"].json[\"progress_callback_url\"]}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"request_id\": {{ $('Parse Webhook Data').first().json.request_id }},\n  \"callback_token\": \"{{ $('Parse Webhook Data').first().json.callback_token }}\",\n  \"status\": \"ai_processing\",\n  \"progress_percent\": 60,\n  \"current_step\": \"AI processing\",\n  \"n8n_secret\": \"jllIcqyZiL0Od9g5b7Qq7fUtDc4JLdMRz\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16560,
        5520
      ],
      "id": "b8b96577-dcf2-40b9-82ce-4de0b86c6c81",
      "name": "Send Progress: AI Analysis"
    },
    {
      "parameters": {
        "jsCode": "// Extract IG data and prepare for AI analysis\nconst webhookData = $('Parse Webhook Data').first()?.json || {};\nconst scrapedData = $('Transform Instagram Data').first()?.json || {};\nconst ig_data = scrapedData.data || scrapedData.raw_ig_data || scrapedData;\nconst user = ig_data.user || {};\nconst posts = ig_data.edge_owner_to_timeline_media?.edges || [];\nconst profileUrl = webhookData.profile_url || '';\nconst usernameMatch = profileUrl.match(/instagram\\.com\\/([a-zA-Z0-9_\\.]+)/);\nconst ig_username = usernameMatch?.[1] || webhookData.ig_username || 'unknown';\n\nconst captions = posts\n  .slice(0, 10)\n  .map(p => p.node?.edge_media_to_caption?.edges?.[0]?.node?.text || '')\n  .filter(c => c.length > 0);\n\nconst prompt = `\nAnalyze Instagram account data and provide:\n1. Sentiment Analysis: Positive/Neutral/Negative breakdown (%) from captions\n2. Engagement Analysis: Average likes, comments, shares per post\n3. Top Topics: Main themes in captions\n4. Audience Insights: Follower demographics if available\n5. Recommendations: 3-5 actionable tips to improve engagement\n\nAccount: @${ig_username}\nFollowers: ${user.edge_followed_by?.count || 0}\nFollowing: ${user.edge_follow?.count || 0}\nBio: ${user.biography || ''}\n\nRecent captions:\n${captions.join('\\n\\n')}\n\nProvide JSON response:\n{\n  \"sentiment_label\": \"positive|neutral|negative\",\n  \"sentiment_score\": 0-1,\n  \"engagement_score\": 0-100,\n  \"top_topics\": [\"topic1\", \"topic2\"],\n  \"audience_insight\": {\"demographics\": \"...\"},\n  \"recommendations\": [\"rec1\", \"rec2\", \"rec3\"]\n}`;\n\nreturn [{\n  json: {\n    ...webhookData,\n    ai_prompt: prompt,\n    raw_ig_data: ig_data,\n    ig_username,\n    profile_url: webhookData.profile_url || profileUrl\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16768,
        5520
      ],
      "id": "93d3e6e3-3b8f-40ef-be26-55bd182631ee",
      "name": "Prepare AI Analysis Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Webhook Data').first().json.progress_callback_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"request_id\": {{ $('Parse Webhook Data').first().json.request_id }},\n  \"callback_token\": \"{{ $('Parse Webhook Data').first().json.callback_token }}\",\n  \"status\": \"generating_report\",\n  \"progress_percent\": 90,\n  \"current_step\": \"Generating report\",\n  \"n8n_secret\": \"jllIcqyZiL0Od9g5b7Qq7fUtDc4JLdMRz\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        17248,
        5520
      ],
      "id": "fbe6571d-27ee-4d2c-9b2c-e726145c3e61",
      "name": "Send Progress: Report Ready"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Webhook Data').first().json.result_callback_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n\n  request_id:\n    Number(\n      $('Parse Webhook Data').first().json.request_id\n    ),\n\n  callback_token:\n    String(\n      $('Parse Webhook Data').first().json.callback_token\n    ),\n\n  summary:\n    $('Information Extractor').item.json.output.summary\n    || '',\n\n  sentiment_label:\n    $('Information Extractor').item.json.output.sentiment_label\n    || 'neutral',\n\n  sentiment_score:\n    Number(\n      $('Information Extractor').item.json.output.sentiment_score\n      ?? 0\n    ),\n\n  sentiment_breakdown:\n    typeof $('Information Extractor').item.json.output.sentiment_breakdown === 'object'\n      && $('Information Extractor').item.json.output.sentiment_breakdown !== null\n      ? $('Information Extractor').item.json.output.sentiment_breakdown\n      : {},\n\n  engagement_score:\n    Number(\n      $('Information Extractor').item.json.output.engagement_score\n      ?? 0\n    ),\n\n  engagement_metrics:\n    typeof $('Information Extractor').item.json.output.engagement_metrics === 'object'\n      && $('Information Extractor').item.json.output.engagement_metrics !== null\n      ? $('Information Extractor').item.json.output.engagement_metrics\n      : {},\n\n  top_topics:\n    Array.isArray(\n      $('Information Extractor').item.json.output.top_topics\n    )\n      ? $('Information Extractor').item.json.output.top_topics\n      : [],\n\n  audience_insight:\n    typeof $('Information Extractor').item.json.output.audience_insight === 'object'\n      && $('Information Extractor').item.json.output.audience_insight !== null\n      ? $('Information Extractor').item.json.output.audience_insight\n      : {},\n\n  recommendations:\n    Array.isArray(\n      $('Information Extractor').item.json.output.recommendations\n    )\n      ? $('Information Extractor').item.json.output.recommendations\n      : [],\n\n  charts_data:\n    typeof $('Information Extractor').item.json.output.charts_data === 'object'\n      && $('Information Extractor').item.json.output.charts_data !== null\n      ? $('Information Extractor').item.json.output.charts_data\n      : {},\n\n  raw_payload:\n    typeof $('Information Extractor').item.json.output === 'object'\n      && $('Information Extractor').item.json.output !== null\n      ? $('Information Extractor').item.json.output\n      : {},\n\n  model_version:\n    $('Information Extractor').item.json.output.model_version\n    || 'gemini-social-analyst-v1',\n\n  n8n_secret:\n    'jllIcqyZiL0Od9g5b7Qq7fUtDc4JLdMRz'\n\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        17488,
        5520
      ],
      "id": "8f86a052-ac37-4c43-b21e-f55df57e443f",
      "name": "Send Result to Next.js"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Webhook Data').first().json.error_callback_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ request_id: $('Parse Webhook Data').first().json.request_id, callback_token: $('Parse Webhook Data').first().json.callback_token, error_code: 'entitlement_inactive', error_message: 'Paket Social Media Analysis tidak aktif atau tidak ditemukan.', n8n_secret: 'jllIcqyZiL0Od9g5b7Qq7fUtDc4JLdMRz' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        15200,
        5760
      ],
      "id": "42402047-0dbf-4e11-a5b4-643fe44ac196",
      "name": "Error: Entitlement Inactive"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Webhook Data').first().json.error_callback_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ request_id: $('Parse Webhook Data').first().json.request_id, callback_token: $('Parse Webhook Data').first().json.callback_token, error_code: 'quota_exceeded', error_message: 'Quota analysis habis.', n8n_secret: 'jllIcqyZiL0Od9g5b7Qq7fUtDc4JLdMRz' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        15600,
        5760
      ],
      "id": "b28035a4-d744-40ca-912f-f8735d068e94",
      "name": "Error: Quota Exceeded"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Webhook Data').first().json.error_callback_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ request_id: $('Parse Webhook Data').first().json.request_id, callback_token: $('Parse Webhook Data').first().json.callback_token, error_code: 'invalid_url', error_message: 'Format Instagram URL tidak valid. Gunakan: https://instagram.com/username', n8n_secret: 'jllIcqyZiL0Od9g5b7Qq7fUtDc4JLdMRz' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        15984,
        5760
      ],
      "id": "c2a8c2ce-ff2a-43bb-a007-529e9f86460c",
      "name": "Error: Invalid URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Webhook Data').first().json.error_callback_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ request_id: $('Parse Webhook Data').first().json.request_id, callback_token: $('Parse Webhook Data').first().json.callback_token, error_code: 'scraping_failed', error_message: 'Gagal scrape data Instagram.', n8n_secret: 'jllIcqyZiL0Od9g5b7Qq7fUtDc4JLdMRz' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16368,
        5760
      ],
      "id": "17034d9b-0eb3-4858-a602-7b07fa7a7533",
      "name": "Error: Scraping Failed"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        16944,
        5712
      ],
      "id": "d0502ddb-5695-479d-bc78-d48eb1f83933",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "VR8OntYtmRO1TcRI",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.ai_prompt }}",
        "attributes": {
          "attributes": [
            {
              "name": "summary",
              "description": "Generate a comprehensive summary of the Instagram profile analysis, including overall account performance, audience perception, content quality, engagement trends, and key strategic insights."
            },
            {
              "name": "sentiment_label",
              "description": "Determine the dominant sentiment of the Instagram profile content. The value must be one of: positive, neutral, or negative."
            },
            {
              "name": "sentiment_score",
              "type": "number",
              "description": "Generate an overall sentiment confidence score between 0 and 1 based on captions, audience reactions, and content tone."
            },
            {
              "name": "sentiment_breakdown",
              "description": "Provide a textual sentiment distribution summary including positive, neutral, and negative audience sentiment percentages."
            },
            {
              "name": "engagement_score",
              "type": "number",
              "description": "Calculate an engagement quality score between 0 and 100 based on audience interaction and content performance."
            },
            {
              "name": "engagement_metrics",
              "description": "Provide a textual summary of engagement metrics including average likes, comments, engagement rate, posting consistency, and interaction quality."
            },
            {
              "name": "top_topics",
              "description": "List the most common content themes and discussion topics identified from the Instagram profile content."
            },
            {
              "name": "audience_insight",
              "description": "Provide audience analysis including estimated demographics, audience behavior, interests, engagement patterns, and peak activity periods."
            },
            {
              "name": "recommendations",
              "description": "Generate actionable recommendations to improve audience engagement, branding consistency, content quality, and social media growth."
            },
            {
              "name": " charts_data",
              "description": "Provide chart-ready analytical summary data in text format for sentiment trends, engagement performance, and topic distribution."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        16944,
        5520
      ],
      "id": "e408d9a5-8180-436b-9d05-6e411ad49082",
      "name": "Information Extractor"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Input (from Next.js)": {
      "main": [
        [
          {
            "node": "Parse Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Webhook Data": {
      "main": [
        [
          {
            "node": "Check Entitlement Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Entitlement Status": {
      "main": [
        [
          {
            "node": "Is Entitlement Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Entitlement Active?": {
      "main": [
        [
          {
            "node": "Check Quota Available",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Entitlement Inactive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Quota Available": {
      "main": [
        [
          {
            "node": "Has Quota?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Quota?": {
      "main": [
        [
          {
            "node": "Validate IG URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Quota Exceeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate IG URL": {
      "main": [
        [
          {
            "node": "URL Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL Valid?": {
      "main": [
        [
          {
            "node": "Send Progress: Scraping IG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Invalid URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Progress: Scraping IG": {
      "main": [
        [
          {
            "node": "Scrape Instagram Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Instagram Data": {
      "main": [
        [
          {
            "node": "Transform Instagram Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Instagram Data": {
      "main": [
        [
          {
            "node": "Send Progress: AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Progress: AI Analysis": {
      "main": [
        [
          {
            "node": "Prepare AI Analysis Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Progress: Report Ready": {
      "main": [
        [
          {
            "node": "Send Result to Next.js",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Analysis Prompt": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Send Progress: Report Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6e3cb45e-3937-4a39-ba5e-bc1c48aacda8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55610ab40ec438f7d6aa8007bfeae732bdf2a7ca0d8e42d7155a97bc98c9b2e4"
  },
  "id": "F7Bdfk5DigrNsope",
  "tags": [
    "instagram",
    "apify",
    "social-media",
    "integration"
  ]
}
