migration/WF_Social_Media_Analyst_FIXED.json
{
    "name": "WF_Social_Media_Analyst",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "medsos-analysis-webhook",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -1472,
                2160
            ],
            "id": "b4edfa03-ab23-4c1a-a6db-a3c5ab9d3196",
            "name": "Webhook Input (from Next.js)1",
            "webhookId": "5b19ccb2-a8c6-4b40-95b2-b5e669739fae"
        },
        {
            "parameters": {
                "jsCode": "// Parse webhook dari Next.js - dengan request_id\nconst body = $json.body || $json;\nreturn [{\n  json: {\n    request_id: body.request_id,\n    callback_token: body.callback_token,\n    platform: body.platform,\n    profile_url: body.profile_url,\n    notes: body.notes,\n    progress_callback_url: body.progress_callback_url,\n    result_callback_url: body.result_callback_url,\n    error_callback_url: body.error_callback_url,\n    timestamp: new Date().toISOString()\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1264,
                2160
            ],
            "id": "d18fb7c2-63e0-4940-967b-c4260b5441fc",
            "name": "Parse Webhook Data1"
        },
        {
            "parameters": {
                "url": "=https://n8n-automations-liard.vercel.app/api/n8n/medsos/entitlement-check?request_id={{ $json.request_id }}&token=jllIcqyZiL0Od9g5b7Qq7fUtDc4JLdMR",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -1008,
                1984
            ],
            "id": "124c4dfa-a2db-4bc2-87f3-8c0433c9895b",
            "name": "Check Entitlement Status1"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "status-check",
                            "leftValue": "={{ $json.status }}",
                            "rightValue": "active",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -800,
                1984
            ],
            "id": "6b1a7ef5-3ff9-49af-bf7d-257478f15998",
            "name": "Is Entitlement Active?1"
        },
        {
            "parameters": {
                "jsCode": "// Check quota available - one-time purchase model\nconst entitlement = $json;\nconst quota_used = entitlement.quota_used || 0;\nconst quota_total = entitlement.quota_total || 0;\nconst quota_available = quota_used < quota_total;\n\nreturn [{\n  json: {\n    ...JSON.parse($('Parse Webhook Data1').first().json),\n    entitlement: entitlement,\n    quota_available: quota_available,\n    quota_remaining: quota_total - quota_used\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -608,
                1984
            ],
            "id": "a0585835-8345-4cd9-a49c-7b02181c1bb8",
            "name": "Check Quota Available1"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "quota-check",
                            "leftValue": "={{ $json.quota_available }}",
                            "rightValue": "",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -400,
                1984
            ],
            "id": "13708989-33f7-4044-93cf-f9f69984e17b",
            "name": "Has Quota?1"
        },
        {
            "parameters": {
                "jsCode": "// Validate Instagram URL format\nconst profile_url = $json.profile_url || \"\";\nconst ig_regex = /https:\\/\\/(www\\.)?instagram\\.com\\/([a-zA-Z0-9_\\.]+)\\/?/;\nconst match = profile_url.match(ig_regex);\n\nif (!match || !match[2]) {\n  return [{\n    json: { \n      valid: false, \n      error: \"Format Instagram URL tidak valid. Gunakan: https://instagram.com/username\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...Object.assign({}, $json),\n    valid: true,\n    ig_username: match[2],\n    ig_profile_url: `https://instagram.com/${match[2]}`\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -208,
                1984
            ],
            "id": "c85d518b-bd89-4b39-a93b-ee361501980e",
            "name": "Validate IG URL1"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "url-valid",
                            "leftValue": "={{ $json.valid }}",
                            "rightValue": "",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -16,
                1984
            ],
            "id": "45cc28e3-8be1-4d74-9b7d-10f8336cc958",
            "name": "URL Valid?1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $json.progress_callback_url }}",
                "sendBody": true,
                "contentType": "application/json",
                "body": "={\"request_id\": {{ $json.request_id }}, \"callback_token\": \"{{ $json.callback_token }}\", \"status\": \"scraping\", \"progress_percent\": 25, \"current_step\": \"Scraping Instagram profile...\"}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                176,
                1984
            ],
            "id": "7fbbce27-9b5e-48d3-96d9-66152c789836",
            "name": "Send Progress: Scraping IG1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://www.instagram.com/{{ $json.ig_username }}/?__a=1",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                368,
                1984
            ],
            "id": "e74cd8fc-4e3e-4efc-b25b-ce6180a20239",
            "name": "Scrape Instagram Data1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $json.progress_callback_url }}",
                "sendBody": true,
                "contentType": "application/json",
                "body": "={\"request_id\": {{ $json.request_id }}, \"callback_token\": \"{{ $json.callback_token }}\", \"status\": \"ai_processing\", \"progress_percent\": 60, \"current_step\": \"Processing with AI...\"}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                560,
                1984
            ],
            "id": "d38c78c7-4343-4f55-afe7-9deb9dd5c673",
            "name": "Send Progress: AI Analysis1"
        },
        {
            "parameters": {
                "jsCode": "// Extract IG data and prepare for AI analysis - no validity_days\nconst ig_data = $json.raw_ig_data || $json;\nconst user = ig_data.user || {};\nconst posts = ig_data.edge_owner_to_timeline_media?.edges || [];\nconst ig_username = $json.ig_username || \"unknown\";\n\nconst captions = posts\n  .slice(0, 10)\n  .map(p => p.node?.edge_media_to_caption?.edges?.[0]?.node?.text || \"\")\n  .filter(c => c.length > 0);\n\nconst prompt = `\nAnalyze Instagram account data and provide:\n1. Sentiment Analysis: Positive/Neutral/Negative breakdown (%) from captions\n2. Engagement Analysis: Average likes, comments, shares per post\n3. Top Topics: Main themes in captions\n4. Audience Insights: Follower demographics if available\n5. Recommendations: 3-5 actionable tips to improve engagement\n\nAccount: @${ig_username}\nFollowers: ${user.edge_followed_by?.count || 0}\nFollowing: ${user.edge_follow?.count || 0}\nBio: ${user.biography || \"\"}\n\nRecent captions:\n${captions.join('\\n\\n')}\n\nProvide JSON response:\n{\n  \"sentiment_label\": \"positive|neutral|negative\",\n  \"sentiment_score\": 0-1,\n  \"engagement_score\": 0-100,\n  \"top_topics\": [\"topic1\", \"topic2\"],\n  \"audience_insight\": {\"demographics\": \"...\"},\n  \"recommendations\": [\"rec1\", \"rec2\", \"rec3\"]\n}`;\n\nreturn [{\n  json: {\n    ...Object.assign({}, $json),\n    ai_prompt: prompt,\n    raw_ig_data: ig_data\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                944,
                1984
            ],
            "id": "f49d0c22-f440-42ee-b79a-671ce53fe58f",
            "name": "Prepare AI Analysis Prompt1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $json.progress_callback_url }}",
                "sendBody": true,
                "contentType": "application/json",
                "body": "={\"request_id\": {{ $json.request_id }}, \"callback_token\": \"{{ $json.callback_token }}\", \"status\": \"generating_report\", \"progress_percent\": 90, \"current_step\": \"Generating report...\"}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                1136,
                1984
            ],
            "id": "aac6a724-082c-407f-8ec6-4cabfcf192f5",
            "name": "Send Progress: Report Ready1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $json.result_callback_url }}",
                "sendBody": true,
                "contentType": "application/json",
                "body": "={\"request_id\": {{ $json.request_id }}, \"callback_token\": \"{{ $json.callback_token }}\", \"summary\": \"Analysis complete\", \"sentiment_label\": \"neutral\", \"sentiment_score\": 0.5, \"engagement_score\": 75, \"top_topics\": [\"lifestyle\", \"travel\"], \"recommendations\": [\"Post more regularly\", \"Engage with followers\"]}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                1328,
                1984
            ],
            "id": "f361791b-4bd9-466f-b67e-c2543224ae9d",
            "name": "Send Result to Next.js1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $json.error_callback_url }}",
                "sendBody": true,
                "contentType": "application/json",
                "body": "={\"request_id\": {{ $json.request_id }}, \"callback_token\": \"{{ $json.callback_token }}\", \"error_code\": \"entitlement_inactive\", \"error_message\": \"User entitlement is not active\"}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -800,
                2224
            ],
            "id": "75783cc1-15bf-473d-81ec-30b408d004f7",
            "name": "Error: Entitlement Inactive1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $json.error_callback_url }}",
                "sendBody": true,
                "contentType": "application/json",
                "body": "={\"request_id\": {{ $json.request_id }}, \"callback_token\": \"{{ $json.callback_token }}\", \"error_code\": \"quota_exceeded\", \"error_message\": \"User quota exceeded\"}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -400,
                2224
            ],
            "id": "ff167172-9ebf-4d4a-ad06-ba16babb9dd1",
            "name": "Error: Quota Exceeded1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $json.error_callback_url }}",
                "sendBody": true,
                "contentType": "application/json",
                "body": "={\"request_id\": {{ $json.request_id }}, \"callback_token\": \"{{ $json.callback_token }}\", \"error_code\": \"invalid_url\", \"error_message\": \"{{ $json.error }}\"}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -16,
                2224
            ],
            "id": "cab0d868-fc3e-4a52-ae97-7562440e6a15",
            "name": "Error: Invalid URL1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $json.error_callback_url }}",
                "sendBody": true,
                "contentType": "application/json",
                "body": "={\"request_id\": {{ $json.request_id }}, \"callback_token\": \"{{ $json.callback_token }}\", \"error_code\": \"scraping_failed\", \"error_message\": \"Failed to scrape Instagram data\"}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                368,
                2224
            ],
            "id": "5d070255-9dd3-445a-a412-595b83f23916",
            "name": "Error: Scraping Failed1"
        },
        {
            "parameters": {
                "options": {
                    "temperature": 0.7
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                752,
                1984
            ],
            "id": "b19ab4c7-ea0d-426f-94bc-ee8b32bdf3dd",
            "name": "Google Gemini Chat Model",
            "credentials": {
                "googlePalmApi": {
                    "id": "VR8OntYtmRO1TcRI",
                    "name": "Google Gemini(PaLM) Api account 5"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Webhook Input (from Next.js)1": {
            "main": [
                [
                    {
                        "node": "Parse Webhook Data1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Webhook Data1": {
            "main": [
                [
                    {
                        "node": "Check Entitlement Status1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Entitlement Status1": {
            "main": [
                [
                    {
                        "node": "Is Entitlement Active?1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Entitlement Active?1": {
            "main": [
                [
                    {
                        "node": "Check Quota Available1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Error: Entitlement Inactive1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Quota Available1": {
            "main": [
                [
                    {
                        "node": "Has Quota?1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Quota?1": {
            "main": [
                [
                    {
                        "node": "Validate IG URL1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Error: Quota Exceeded1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate IG URL1": {
            "main": [
                [
                    {
                        "node": "URL Valid?1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "URL Valid?1": {
            "main": [
                [
                    {
                        "node": "Send Progress: Scraping IG1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Error: Invalid URL1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Progress: Scraping IG1": {
            "main": [
                [
                    {
                        "node": "Scrape Instagram Data1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Scrape Instagram Data1": {
            "main": [
                [
                    {
                        "node": "Send Progress: AI Analysis1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Error: Scraping Failed1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Progress: AI Analysis1": {
            "main": [
                [
                    {
                        "node": "Prepare AI Analysis Prompt1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare AI Analysis Prompt1": {
            "main": [
                [
                    {
                        "node": "Google Gemini Chat Model",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "main": [
                [
                    {
                        "node": "Send Progress: Report Ready1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Progress: Report Ready1": {
            "main": [
                [
                    {
                        "node": "Send Result to Next.js1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "e51191f1-40c0-4b78-b2a6-eeebc4cbee90",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "55610ab40ec438f7d6aa8007bfeae732bdf2a7ca0d8e42d7155a97bc98c9b2e4"
    },
    "id": "F7Bdfk5DigrNsope",
    "tags": []
}